/* * {
    margin: 0;
    padding: 0;
    user-select: none;
} */

.banner {
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    object-fit: cover;
}

.banner h2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: calc(19px + 1.94vw);
    text-align: center;
    text-transform: uppercase;
    color: #000;
    /* use line-height if you want to adjust how far down the main text appears on the page */
    line-height:43vh;
    /* This single line is where the magic happens to make your text have a video bleed-through effect */
    mix-blend-mode: screen;
    font-family: 'Work Sans', sans-serif;
}

.banner h2 {
    /* a few different options with dramatic effects on the final animation, pure white seems to have the best effect */
    /* background: #e2d9d9;  */
    /* background: #ffffff; */
    background: rgb(219, 216, 216, 0.87);
    /* background: rgba(255, 255, 255); */
    /* border: 15vh solid;
    border-left: 20vw solid;
    border-right: 20vw solid; */
    border: 20vmin solid;
    border-left: 20vw solid;
    border-right: 20vw solid;
    min-width: fit-content;
    /* border-left: none;
    border-right: none; */
        border-top: 28vh solid;
        border-bottom: 32vh solid;
        border-left: 1.5vw solid;
        border-right: 1.5vw solid;
        border-left: 8.5vw solid;
        border-right: 8.5vw solid;
        line-height: 25vh;
}

.banner h4 {
    position: absolute;
    border: 1px solid black;
}

.header, .footer {
    width: 100%;
    height: 0.96vh;
    background: linear-gradient(90deg,rgba(19,19,19) 0%, rgba(10, 26, 36, 0.916) 100%);
    position:sticky;
}

/* An inverse gradient of the header */
.footer {
    background: linear-gradient(90deg,rgba(10, 26, 36, 0.916) 0%, rgb(19, 19, 19) 100%);
}

/* These 2 classes and the animation are for the overlay fade-in for the button, banner, and mountain png */
.fadeIn{
    opacity: 0%;
    animation: fadeIn 5.9s 0.3s;
    animation-fill-mode: forwards;
}

.fadeIn2{
    opacity: 0%;
    animation: fadeIn 7s 4s;
    animation-fill-mode: forwards;
}

.meetButton {
    position: absolute;
    margin-top: 10vh;
    margin-left: 15vw;
    mix-blend-mode: screen;
}

.exploreButton {
    position: absolute;
    margin-top: 10vh;
    margin-right: 15vw;
    mix-blend-mode: screen;
}

.mainDiv {
    /* margin-bottom: 10vh; */
}

@media screen and (max-width:1250px) { 
    .banner h2 { 
       border-top: 30vh solid;
       border-bottom: 30vh solid;
       border-left: 7vh solid;
       border-right: 7vh solid;
       line-height: 25vh;
     }
 }
 @media screen and (max-width:600px) { 
    .banner h2 { 
        border-left: 0vh solid;
        border-right: 0vh solid;
        font-size: calc(11px + 1.94vw);
    }
  }

@keyframes fadeIn {
    0%
  {
    opacity: 0;
  }
    100%
  {
    opacity: 1;
  }
  }
